<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DXF.Properties.Settings>
            <setting name="DxfFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DiametricalDepthOfCut" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DiametricalRetract" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DiametricalXAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DiametricalZAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DiametricalFeedRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FacingDepthOfCut" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FacingRetract" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FacingXAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FacingZAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FacingFeedRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ChockSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpindleSpeedLimit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConstantSurfaceSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorkplaneOriginParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="CollarinoDepthOfCut" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CollarinoRetract" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CollarinoXAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CollarinoZAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CollarinoFeedRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CavaDepthOfCut" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CavaRetract" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CavaXAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CavaZAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CavaFeedRate" serializeAs="String">
                <value>0.1</value>
            </setting>
        </DXF.Properties.Settings>
    </userSettings>
</configuration>