<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DXF.Properties.Settings>
            <setting name="DxfFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="G71DepthOfCut" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="G71RetractValue" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="G71XAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="G71ZAllowance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="G71FeedRate" serializeAs="String">
                <value>0.1</value>
            </setting>
        </DXF.Properties.Settings>
    </userSettings>
</configuration>